<% layout('/layouts/boilerplate') %>

<!-- <h1>All Listings</h1> -->
<!-- <form method="GET" action="/listings/new">
    <button>Create New Listing</button>
</form> -->

<div id="filters" class="filter-info-links">
    <a href="/listings" class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
    </a>
    <a href="/listings?category=Rooms" class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
    </a>
    <a href="/listings?category=Iconic Cities" class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p>
    </a>
    <a href="/listings?category=Mountains" class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountains</p>
    </a>
    <a href="/listings?category=Castles" class="filter">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
    </a>
    <a href="/listings?category=Amazing Pools" class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
    </a>

    <a href="/listings?category=Camping" class="filter">
        <div><i class="fa-solid fa-campground"></i></i></div>
        <p>Camping</p>
    </a>

    <a href="/listings?category=Farms" class="filter">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>Farms</p>
    </a>
    <a href="/listings?category=Arctic" class="filter">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Arctic</p>
    </a>
    <a href="/listings?category=Domes" class="filter">
        <div><i class="fa-solid fa-igloo"></i></div>
        <p>Domes</p>
    </a>
    <a href="/listings?category=Boats" class="filter">
        <div><i class="fa-solid fa-ship"></i></div>
        <p>Boats</p>
    </a>

    <div class="tax-toggle ms-auto">
        <div class="form-check-reverse form-switch">
            <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="switchCheckDefault"
            />
            <label class="form-check-label" for="switchCheckDefault"
                >Display total after taxes</label
            >
        </div>
    </div>
</div>

<% if(allListings.length === 0) { %>
    <div class="alert alert-warning text-center mt-4">
        No Listing found
        <% if(search) { %>
            for "<%= search %>"
        <% } %>
        <% if(category) { %>
            in "<%= category %>"
        <% } %>
    </div>
<% } %>

<div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3">
    <% for (let listing of allListings){ %>
    <div class="col mb-4 d-flex align-items-stretch">
        <div class="card listing-card popup-card w-100">
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <img
                    src="<%= listing.image.url %>"
                    class="card-img-top"
                    alt="Listing_Image"
                    style="height: 20rem"
                />
            </a>
            <div class="card-img-overlay"></div>
            <div class="card-body d-flex flex-column justify-content-between">
                <div>
                    <p class="card-text">
                        <b><%= listing.title %> </b>
                        <br />
                        &#8377; <%= listing.price.toLocaleString('en-IN') %> / Night
                        <i class="tax-info"> &nbsp;&nbsp; +18% GST</i>
                    </p>
                </div>

            </div>
        </div>
    </div>
    <% } %>
</div>
